<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundles</key>
	<array>
		<dict>
			<key>associated Xcode projects</key>
			<array>
				<string>../PhotoSwatch.xcodeproj</string>
			</array>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>changed values</key>
			<array>
				<string>&lt;reference&gt;</string>
			</array>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>PhotoSwatch/InfoPlist/1/InfoPlist.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2013-08-18T23:14:35Z</date>
					<key>changed values</key>
					<array>
						<string>&lt;reference&gt;</string>
					</array>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>1</integer>
					<key>hash</key>
					<string>b8f0b99a609bda18c49eed43bb052224
</string>
					<key>name</key>
					<string>InfoPlist.strings</string>
					<key>objects</key>
					<array/>
					<key>old objects</key>
					<array/>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>PhotoSwatch/Localizable/1/Localizable.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2013-09-09T00:56:06Z</date>
					<key>changed values</key>
					<array>
						<string>&lt;reference&gt;</string>
					</array>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>1</integer>
					<key>hash</key>
					<string>e0e09a820cc7c2935e460a298415b6c8
</string>
					<key>name</key>
					<string>Localizable.strings</string>
					<key>objects</key>
					<array/>
					<key>old objects</key>
					<array/>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>../PhotoSwatch</string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>PhotoSwatch</string>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<string>en</string>
	</array>
	<key>preferences</key>
	<dict>
		<key>XcodeAddMissingFiles</key>
		<true/>
		<key>XcodeFileLimit</key>
		<real>75</real>
		<key>XcodeHasFileLimit</key>
		<true/>
		<key>XcodeHasLanguageLimit</key>
		<true/>
		<key>XcodeLanguageLimit</key>
		<real>90</real>
		<key>XcodeRemoveNotMatchingFiles</key>
		<false/>
		<key>autotranslateNewStrings</key>
		<true/>
		<key>compressLocalizationFiles</key>
		<false/>
		<key>deactivateEmptyStrings</key>
		<true/>
		<key>deactivatePlaceholderStrings</key>
		<true/>
		<key>defaultBundleNaming</key>
		<integer>1</integer>
		<key>defaultBundleReferencing</key>
		<integer>1</integer>
		<key>embedDictionary</key>
		<false/>
		<key>embedDictionaryGuesses</key>
		<false/>
		<key>importEmptyStrings</key>
		<true/>
		<key>includeInterfacePreview</key>
		<true/>
		<key>markAutotranslatedAsNotChanged</key>
		<true/>
		<key>rescanXcodeProjects</key>
		<false/>
		<key>saveCompressed</key>
		<false/>
		<key>updateXcodeProjects</key>
		<false/>
		<key>valueChangesResetStrings</key>
		<false/>
	</dict>
	<key>reference language</key>
	<string>en</string>
	<key>version</key>
	<integer>5</integer>
</dict>
</plist>
